colorlog
h5py
jupyter
jupyter_console
jupyter_contrib_nbextensions
jupyterlab
matplotlib
mlagents
numpy
pandas
plotly
psutil
pyarrow
pybullet
scikit-learn
tensorboard
tensorflow
tensorflow-estimator
tensorflow-gpu
torch
