colorlog
h5py
jupyter
jupyter_console
jupyter_contrib_nbextensions
jupyterlab
matplotlib
mlagents
nbdime
numpy
pandas
plotly
psutil
pyarrow
pybullet
requests
scikit-learn
tensorboard
tensorflow
tensorflow-gpu
torch
treon
